/* General Reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Document Flow */
html, body {
    height: 100%;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

/* Main Content Styles */
main {
    padding: 50px 20px;
}

 /* Ensure your footer has some default height or content to show */
 footer {
    background: #333; /* example background color for visibility */
    color: white; /* example text color for visibility */
    text-align: center;
    padding: 10px 0; /* Adjust padding as needed */
  }

/* Navbar Styles */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 5%;
    background-color: #000;
    color: #fff;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin-left: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

.content-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.text-content {
    flex: 1;
}

.image-container {
    flex: 1;
}

.code-screenshot {
    width: 100%;
    height: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* H1 Styles */
h1 {
    font-size: 5rem;
    margin-bottom: 20px;
}

/* Button Styles */
.download-button {
    padding: 30px 30px;
    color: #fff;
    background-color: #00a2ed;
    border: none;
    border-radius: 5px;
    font-size: 30px;
    cursor: pointer;
    width: 90%;
}

/* Responsive Design */
@media (max-width: 768px) {
    .content-container {
        flex-direction: column;
    }

    .text-content, .image-container {
        width: 100%;
    }

    nav ul li {
        margin: 0 5px;
    }

    nav ul li a {
        font-size: 0.9em;
    }
}

.download-button-link {
    text-decoration: none;
    color: inherit;
    display: inline-block;
    width: 100%;
}

/* Slide image styles - make sure they adapt to the container's size */
.code-screenshot {
  width: 100%; /* Ensures images are responsive and do not overflow */
  height: auto; /* Maintain aspect ratio */
  max-height: 556px; /* Ensures that the image does not exceed a certain height */
}